body {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.main__content {
  max-width: 50rem;
  flex-grow: 1;
  margin: 1rem;
}

.form > * {
  margin-bottom: 1rem;
}

.form {
  position: relative;
}

.form__requirement {
  padding: 0;
  margin: 0;
}

.form__textarea {
  max-width: 100%;
}

.form__required {
  color: red;
}

.header {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: end;
  max-width: 60rem;
  flex-grow: 1;
  margin-inline: 1rem;
  margin-block: 1rem;
}

.nav__logo {
  margin-right: auto;
}

.event-items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.event-item:nth-child(odd) {
  background-color: #f6f6f6;
}

.event-item__content {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: auto;
  padding-block: 2rem;
}

.event-item__main-info {
  display: flex;
}

.event-item__secondary-info {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.event-item__secondary-info > * {
  margin: 0;
}

.event-item__main-info__date {
  font-size: 4rem;
  margin: 0;
}

.event-item__text {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 0;
}

.event-item__text__title {
  font-size: 1.5rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event-item__text__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
}

.form__tags {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.horizontal-divider {
  border-bottom: 1px solid lightgray;
  margin: 1rem 0;
}
