body {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.main__content {
  max-width: 60rem;
  flex-grow: 1;
  margin: 1rem;
}

.form > * {
  margin-bottom: 1rem;
}

.form__requirement {
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: end;
  max-width: 60rem;
  flex-grow: 1;
  margin-inline: 1rem;
  margin-block: 0.5rem;
}

.nav__logo {
  margin-right: auto;
}
