<!DOCTYPE html>
<html>
  <head>
    <title>Peru Tapahtuma</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      <div class="main__content">
        <p>Haluatko varmasti perua tapahtuman {{event.title}}? Muutosta ei voi perua.</p>
        <form class="form" action="/event/{{ event.id }}/cancel" method="post">
          <input type="submit" name="continue" value="Kyllä" />
          <input type="submit" name="cancel" value="Ei" />
        </form>
      </div>
    </main>
  </body>
</html>
