<!DOCTYPE html>
<html>
  <head>
    <title>{{ event.title }}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      {% include "page_messages.html" %}
      <div class="main__content">
        <div class="event-top-bar">
          {% if is_participant %}
          <a href="/event/{{event.id}}/unregister">Peru Ilmoittautuminen</a>
          {% else %} {% if event.is_canceled %}
          <p class="event-canceled-message">Tapahtumaan ei voi ilmoittautua koska se on peruttu.</p>
          {% else %}
          <a href="/event/{{event.id}}/register">Ilmoittaudu</a>
          {% endif %} {% endif %} {% if session.user_id == event.user_id %}
          <div class="event-top-bar__creator">
            <a href="/event/{{ event.id }}/edit">Muokkaa</a>
            {% if not event.is_canceled %}
            <a href="/event/{{ event.id }}/cancel">Peru</a>
            {% endif %}
            <a href="/event/{{ event.id }}/delete">Poista</a>
          </div>
          {% endif %}
        </div>
        {% if event.is_canceled %}
        <h1 class="event-title--canceled">{{event.title}}</h1>
        {% else %}
        <h1 class="event-title">{{event.title}}</h1>
        {% endif %}
        <div class="pill-list">
          <p class="pill-list__pill">
            Luonut: <a href="/user/{{event.user_id}}">{{event.username}}</a>
          </p>
          <p class="pill-list__pill">Ilmoittautuneita: {{ event.spots }}</p>
          <p class="pill-list__pill">Aika: {{ event.duration }}</p>
          {% for tag in tags %}
          <p class="pill-list__pill">{{tag}}</p>
          {% endfor %}
        </div>
        <p class="event-description">{{event.description}}</p>
        {% if not event.is_canceled %}
        <p class="event-participants__text">Tapahtumaan Ilmoittautuneet</p>
        {% if participants %}
        <div class="pill-list">
          {% for participant in participants %}
          <a class="pill-list__pill" href="/user/{{participant.id}}">{{participant.username}}</a>
          {% endfor %}
        </div>
        {% else %}
        <p>Ei ilmoittautuneita.</p>
        {% endif %} {% endif %}
      </div>
    </main>
  </body>
</html>
