<!DOCTYPE html>
<html>
  <head>
    <title>Tapahtumakalenteri</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      {% if not events %}
      <p class="no-events-message">Ei tapahtumia.</p>
      {% else %}
      <ul class="event-items">
        {% for event in events %} {% if event.is_canceled %}
        <li class="event-item--canceled">
          <div class="event-item__content">
            <div class="event-item__main-info">
              <p class="event-item__main-info__date">{{ event.date }}</p>
              <div class="event-item__text">
                <a href="/" class="event-item__text__title">{{ event.title }}</a>
                <p class="event-item__text__description">{{ event.description}}</p>
              </div>
            </div>
            <div class="event-item__secondary-info">
              <p>{{ event.username }}</p>
              <p>{{ event.duration }}</p>
              <p>{{ event.spots }}</p>
              {% if session.username == event.username %}
              <a href="/edit/{{ event.id }}">Muokkaa</a>
              <a href="/delete/{{ event.id }}">Poista</a>
              {% endif %}
            </div>
          </div>
        </li>
        {% else %}
        <li class="event-item">
          <div class="event-item__content">
            <div class="event-item__main-info">
              <p class="event-item__main-info__date">{{ event.date }}</p>
              <div class="event-item__text">
                <a href="/" class="event-item__text__title">{{ event.title }}</a>
                <p class="event-item__text__description">{{ event.description}}</p>
              </div>
            </div>
            <div class="event-item__secondary-info">
              <p>{{ event.username }}</p>
              <p>{{ event.duration }}</p>
              <p>{{ event.spots }}</p>
              {% if session.username == event.username %}
              <a href="/edit/{{ event.id }}">Muokkaa</a>
              <a href="/delete/{{ event.id }}">Poista</a>
              {% endif %}
            </div>
          </div>
        </li>
        {% endif%} {% endfor %}
      </ul>
      {% endif %}
    </main>
  </body>
</html>
