<!DOCTYPE html>
<html>
  <head>
    <title>Kirjautuminen</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      <div class="main__content">
        <form action="/login" method="post" class="form">
          <div>
            <label for="username">Tunnus: <span class="form__required">*</span></label> <br />
            <input maxlength="30" required type="text" name="username" id="username" />
          </div>
          <div>
            <label for="password">Salasana: <span class="form__required">*</span></label> <br />
            <input maxlength="30" required type="password" name="password" id="password" />
          </div>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Kirjaudu" />
        </form>
      </div>
    </main>
  </body>
</html>
