{% if session.user_id %}
<header class="header">
  <nav class="nav">
    <a class="nav__logo" href="/">Tapahtumakalenteri</a>
    <a href="/new_event">Uusi tapahtuma</a>
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/user/{{session.user_id}}">{{ session.username }}</a>
  </nav>
</header>
{% else %}
<header class="header">
  <nav class="nav">
    <a class="nav__logo" href="/">Tapahtumakalenteri</a>
    <a href="/register">Uusi käyttäjä</a>
    <a href="/login">Kirjaudu</a>
  </nav>
</header>
{% endif %}
