<!DOCTYPE html>
<html>
  <head>
    <title>Uusi Tapahtuma</title>
    <link rel="stylesheet" href="static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      {% include "page_messages.html" %}
      <div class="main__content">
        <form action="/new_event" method="post" class="form">
          <div class="form__tags">
            {% for tag in tags %}
            <div class="form__tag">
              <label for="{{tag}}">{{tag}}: </label>
              <select name="{{ tag }}" id="{{tag}}">
                <option value="not_specified">Ei määritelty</option>
                {% for option in tags[tag] %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>

          <div class="horizontal-divider"></div>

          <div>
            <label for="title">Otsikko: <span class="form__required">*</span></label>
            <br />
            <textarea
              class="form__textarea"
              maxlength="50"
              required
              rows="1"
              name="title"
              id="title"></textarea>
          </div>

          <div>
            <label for="description">Kuvaus: <span class="form__required">*</span></label>
            <br />
            <textarea
              class="form__textarea"
              maxlength="5000"
              required
              rows="10"
              name="description"
              id="description"></textarea>
          </div>

          <div>
            <label for="start_date">Alkupäivämäärä: <span class="form__required">*</span></label>
            <br />
            <input required type="date" name="start_date" id="start_date" />
          </div>

          <div>
            <label for="start_time">Alkuaika: <span class="form__required">*</span></label>
            <br />
            <input required type="time" name="start_time" id="start_time" />
          </div>

          <div>
            <label for="end_date">Loppupäivämäärä: <span class="form__required">*</span></label>
            <br />
            <input required type="date" name="end_date" id="end_date" />
          </div>

          <div>
            <label for="end_time">Loppuaika: <span class="form__required">*</span></label>
            <br />
            <input required type="time" name="end_time" id="end_time" />
          </div>

          <div>
            <label for="spots">Paikkamäärä: </label>
            <br />
            <input max="9999999" type="number" name="spots" id="spots" />
          </div>

          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Luo tapahtuma" />
        </form>
      </div>
    </main>
  </body>
</html>
