<!DOCTYPE html>
<html>
  <head>
    <title>Haku</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      <div class="search-form-container">
        {% include "page_messages.html" %}
        <form class="form" action="/search" method="get">
          <label for="title">Otsikko:</label>
          <br />
          <input value="{{filled.title}}" maxlength="50" type="text" name="title" id="title" />
          <br />
          <label for="start_date_start">Alkupäivämäärä:</label>
          <br />
          <input
            value="{{filled.start_date_start}}"
            type="date"
            name="start_date_start"
            id="start_date_start" />
          <span> - </span>
          <input
            value="{{filled.start_date_end}}"
            type="date"
            name="start_date_end"
            id="start_date_end" />
          <div class="form__tags">
            {% for tag in tags %}
            <div class="form__tag">
              <label for="{{tag}}">{{tag}}: </label>
              <select name="{{ tag }}" id="{{tag}}">
                <option value>Ei valintaa</option>
                {% if filled.tags[tag] == "not_specified" %}
                <option selected value="not_specified">Ei määritelty</option>
                {% else %}
                <option value="not_specified">Ei määritelty</option>
                {% endif %} {% for option in tags[tag] %} {% if option == filled.tags[tag] %}
                <option selected value="{{ option }}">{{ option }}</option>
                {% else %}
                <option value="{{ option }}">{{ option }}</option>
                {% endif %} {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Hae" />
        </form>
      </div>
      {% include "event_list.html" %}
    </main>
  </body>
</html>
