<!DOCTYPE html>
<html>
  <head>
    <title>Peru Ilmoittautuminen</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      {% include "page_messages.html" %}
      <div class="main__content">
        <p>Olet perumassa ilmoittautumisesi tapahtumaan {{event.title}}</p>
        <form class="form" action="/event/{{ event.id }}/unregister" method="post">
          <input type="submit" name="continue" value="Vahvista" />
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" name="cancel" value="Peruuta" />
        </form>
      </div>
    </main>
  </body>
</html>
