<!DOCTYPE html>
<html>
  <head>
    <title>{{ user.username }}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    {% include "nav.html" %}
    <main class="main">
      <div class="main__content--user-page">
        <h1 class="user-title">{{user.username}}</h1>
        <div class="pill-list">
          <p class="pill-list__pill">Ikä (päivissä): {{ user.account_age }}</p>
          <p class="pill-list__pill">Tapahtumia tulossa: {{ user.event_count }}</p>
          <p class="pill-list__pill">Tapahtumiin ilmoittautuneita: {{ user.total_participants }}</p>
        </div>
        <div class="user-section-divider">
          <p class="user-section-divider__text">Käyttäjän Tapahtumat</p>
          <div class="horizontal-divider"></div>
        </div>
      </div>
      {% include "event_list.html" %}
      <div class="main__content--user-page">
        <div class="user-section-divider">
          <p class="user-section-divider__text">Ilmoittautunut Tapahtumiin</p>
          <div class="horizontal-divider"></div>
        </div>
      </div>
      {% set events = participations %} {% include "event_list.html" %}
    </main>
  </body>
</html>
